/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600&display=swap');


body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

/** page-title **/

.page-title {
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 143px 0px 22px 0px;
}

.page-title:before {
  position: absolute;
  content: '';
  background: -webkit-linear-gradient(0deg, rgba(13, 28, 39, 0.98) 6%, rgba(13, 28, 39, 0.1) 100%);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.page-title h1 {
  text-align: center;
  display: block;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  font-weight: 800;
}

.page-title .title {
  position: relative;
  display: block;
  margin-bottom: 93px;
}

.page-title .bread-crumb li {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-weight: 400;
  padding-right: 23px;
  margin-right: 5px;
}

.page-title .bread-crumb li:last-child {
  padding: 0px !important;
  margin-bottom: 0px !important;
}

.page-title .bread-crumb li a {
  color: #b8bfc5;
}


.page-title .bread-crumb li:before {
  position: absolute;
  content: "\f108";
  font-size: 16px;
  font-family: 'flaticon';
  color: #b8bfc5;
  top: 0px;
  right: 0px;
  font-weight: 400;
}

.page-title .bread-crumb li:last-child:before {
  display: none;
}

/*--------------------Contact Page--------------------*/
.contact-area {
  width: 100%;
  height: auto;

}

.contact-cover {
  width: 80%;
  margin: 0 auto;

  display: flex;
}

.lets-connect,
.contact-area .contact-cover {
  padding: 20px;
}

.contact-area .contact-cover .quick-contact {
  padding: 20px;
  width: 50vw;
  border-right: 2px solid #e2e2e2;
}

.offices h4,
.lets-connect h4,
.contact-area .contact-cover .quick-contact h4 {
  color: #e94d4e;
  text-underline-offset: 10px;
  position: relative;
  font-size: 25px;
}


.offices h3,
.offices h4,
.lets-connect h3,
.lets-connect h4,
.contact-area .contact-cover .quick-contact h4,
.contact-area .contact-cover .quick-contact h3 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.offices h3,
.lets-connect h3,
.contact-area .contact-cover .quick-contact h3 {
  color: #18425a;
}

.offices h4::after,
.lets-connect h4::after,
.contact-area .contact-cover .quick-contact h4::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 104px;
  height: 3px;
  background: #e94d4e;
}

.offices{
  display: flex;
    flex-direction: column;
    align-items: center;
}

.offices h3,
.contact-area .contact-cover h3 {
  font-size: 30px;
}

.contact-area .contact-cover .contact-info {
  display: flex;
}

.lets-connect .contact-form {
  display: flex;
  flex-direction: column;
}

.lets-connect .contact-form input[type="submit"]{
  background: transparent;
  border: 1px solid #e94d4e;
  color: #e94d4e;
  text-align: center;
  cursor: pointer;
}

.lets-connect .contact-form input[type="submit"]:hover{
  background: #e94d4e;
  color: #fff;
  transition: all 500ms ease;
}

.lets-connect .contact-form input, .lets-connect .contact-form textarea {
  margin-bottom: 1vw;
  height: 40px;
  background: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.10);
  font-size: 16px;
  color: #828080;
  border: 1px solid #fff;
  padding: 10px 20px;
  transition: all 500ms ease;
}

.office-location {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
}

.office-location iframe {
  padding: 40px;
  height: 20vw;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.contact-info .location {
  display: flex;
  gap: 20px;
  margin-top: 2vw;
  padding: 0 0 40px;
  border-bottom: 2px solid #e2e2e2;
}

.quickContact {
  display: flex;
  gap: 9vw;
}

.quickContact h5 {
  font-size: 17px;
  line-height: 34px;
}

.lets-connect p,
.quick-contact-area p {
  font-size: 17px;
  line-height: 27px;
}

.quickContact h4,
.quickContact h3,
.quickContact h5,
.quickContact h6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.quickContact .session {
  display: flex;
}

.quickContact img,
.location_icon img {
  width: 5vw;
}

.contact-info .content h4 {
  color: #18425a !important;
}

.contact-info .content h4::after {
  background: transparent !important;
}

/* FAQs */

.wrapper {
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
  padding: 30px;
}

.wrapper .title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fec107;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form {
  width: 100%;
}

.wrapper .form .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea {
  width: 100%;
  height: 125px;
  resize: none;
}


.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus {
  border: 1px solid #fec107;
}

.wrapper .form .inputfield p {
  font-size: 14px;
  color: #757575;
}


.wrapper .form .inputfield .btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0px;
  background: #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .inputfield .btn:hover {
  background: #ffd658;
}

.wrapper .form .inputfield:last-child {
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper .form .inputfield {
    flex-direction: column;
    align-items: flex-start;
  }

  .wrapper .form .inputfield.terms {
    flex-direction: row;
  }
}

.accordion {
  display: flex;
  max-width: 1010px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 25px;
  padding: 45px 90px 45px 60px;
}

.accordion .image-box {
  height: 360px;
  width: 300px;
}

.accordion .accordion-text {
  width: 100%;
}

.accordion .accordion-text .title {
  font-size: 35px;
  font-weight: 600;
  color: #7d2ae8;
  font-family: 'Fira Sans', sans-serif;
}

.accordion .accordion-text .faq-text {
  margin-top: 25px;
  height: auto;
  overflow-y: auto;
}

.faq-text::-webkit-scrollbar {
  display: none;
}

.accordion .accordion-text li {
  list-style: none;
  cursor: pointer;
}

.accordion-text li .question-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-text li .question-arrow .question {
  font-size: 18px;
  font-weight: 500;
  color: #595959;
  transition: all 0.3s ease;
}

.accordion-text li .question-arrow .arrow {
  font-size: 20px;
  color: #595959;
  transition: all 0.3s ease;
}

.accordion-text li.showAnswer .question-arrow .arrow {
  transform: rotate(-180deg);
}

.accordion-text li:hover .question-arrow .question,
.accordion-text li:hover .question-arrow .arrow {
  color: #7d2ae8;
}

.accordion-text li.showAnswer .question-arrow .question,
.accordion-text li.showAnswer .question-arrow .arrow {
  color: #7d2ae8;
}

.accordion-text li .line {
  display: block;
  height: 2px;
  width: 100%;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.1);
}

.accordion-text li p {
  width: 92%;
  font-size: 15px;
  font-weight: 500;
  color: #595959;
  display: none;
}

.accordion-text li.showAnswer p {
  display: block;
}

@media (max-width: 994px) {
  body {
    padding: 40px 20px;
  }

  .accordion {
    max-width: 100%;
    padding: 45px 60px 45px 60px;
  }

  .accordion .image-box {
    height: 360px;
    width: 220px;
  }

  .accordion .accordion-text {
    width: 63%;
  }
}

@media (max-width: 820px) {
  .accordion {
    flex-direction: column;
  }

  .accordion .image-box {
    height: 360px;
    width: 300px;
    background: #7d2ae8;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
  }

  .accordion .accordion-text {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 538px) {
  .accordion {
    padding: 25px;
  }

  .accordion-text li p {
    width: 98%;
  }
}





/* ABOUT US */

.about-section .container h1,
h2,
h3,
h4,
h5,
h6,
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

.about-section .container a,
a:active,
a:focus {
  color: #6f6f6f;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

.about-section .container ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-section .container img {
  max-width: 100%;
  height: auto;
}

.about-section .container section {
  padding: 60px 0;
  /* min-height: 100vh;*/
}

.sec-title {
  position: relative;
  z-index: 1;
  margin-bottom: 60px;
}

.sec-title .title {
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #00aeef;
  font-weight: 500;
  margin-bottom: 15px;
}

.sec-title h2 {
  position: relative;
  display: block;
  font-size: 40px;
  line-height: 1.28em;
  color: #222222;
  font-weight: 600;
  padding-bottom: 18px;
}

.sec-title h2:before {
  position: absolute;
  content: '';
  left: 0px;
  bottom: 0px;
  width: 50px;
  height: 3px;
  background-color: #d1d2d6;
}

.sec-title .text {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-weight: 400;
  margin-top: 35px;
}

.sec-title.light h2 {
  color: #ffffff;
}

.sec-title.text-center h2:before {
  left: 50%;
  margin-left: -25px;
}

.list-style-one {
  position: relative;
}

.list-style-one li {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: #222222;
  font-weight: 400;
  padding-left: 35px;
  margin-bottom: 12px;
}

.list-style-one li:before {
  content: "\f058";
  position: absolute;
  left: 0;
  top: 0px;
  display: block;
  font-size: 18px;
  padding: 0px;
  color: #ff2222;
  font-weight: 600;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1.6;
  font-family: "Font Awesome 5 Free";
}

.list-style-one li a:hover {
  color: #44bce2;
}

.btn-style-one {
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  padding: 10px 30px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: 0.02em;
  background-color: #00aeef;
}

.btn-style-one:hover {
  background-color: #0794c9;
  color: #ffffff;
}

.about-section {
  position: relative;
  padding: 120px 0 70px;
}

.about-section .sec-title {
  margin-bottom: 45px;
}

.about-section .content-column {
  position: relative;
  margin-bottom: 50px;
}

.about-section .content-column .inner-column {
  position: relative;
  padding-left: 30px;
}

.about-section .text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-weight: 400;
}

.about-section .list-style-one {
  margin-bottom: 45px;
}

.about-section .btn-box {
  position: relative;
}

.about-section .btn-box a {
  padding: 15px 50px;
}

.about-section .image-column {
  position: relative;
}

.about-section .image-column .text-layer {
  position: absolute;
  right: -110px;
  top: 50%;
  font-size: 325px;
  line-height: 1em;
  color: #ffffff;
  margin-top: -175px;
  font-weight: 500;
}

.about-section .image-column .inner-column {
  position: relative;
  padding-left: 80px;
  padding-bottom: 0px;
}

.about-section .image-column .inner-column .author-desc {
  position: absolute;
  bottom: 16px;
  z-index: 1;
  background: orange;
  padding: 10px 15px;
  left: 96px;
  width: calc(100% - 152px);
  border-radius: 50px;
}

.about-section .image-column .inner-column .author-desc h2 {
  font-size: 21px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  margin: 0;
}

.about-section .image-column .inner-column .author-desc span {
  font-size: 16px;
  letter-spacing: 6px;
  text-align: center;
  color: #fff;
  display: block;
  font-weight: 400;
}

.about-section .image-column .inner-column:before {
  content: '';
  position: absolute;
  width: calc(50% + 80px);
  height: calc(100% + 160px);
  top: -80px;
  left: -3px;
  background: transparent;
  z-index: 0;
  border: 44px solid #00aeef;
}

.about-section .image-column .image-1 {
  position: relative;
}

.about-section .image-column .image-2 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img {
  box-shadow: 0 30px 50px rgba(8, 13, 62, .15);
  border-radius: 46px;
}

/* VISA OVERVIEW */

.about-style {
  position: relative;
  padding: 50px 0px;
}

.about-style .auto-container {
  display: flex;
}

.about-style .auto-container .image-box {
  position: relative;
  display: block;
  margin-right: 10px;
}

.about-style .auto-container .image-box .image {
  position: relative;
  display: block;
  overflow: hidden;
}

.about-style .auto-container .image-box img {
  width: 600px;
}

.about-style .auto-container .image-box .image:before {
  position: absolute;
  top: 0;
  left: -80%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, .3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  z-index: 1;
}

.about-style .auto-container .image-box .image:hover:before {
  -webkit-animation: shine 1s;
  animation: shine 1s;
}

.content_block_three .content-box {
  position: relative;
  display: block;
  margin-top: -6px;
}

.content_block_three .content-box .sec-title h2 {
  color: red;
}

.content_block_three .content-box .sec-title h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}

.content_block_three .content-box .sec-title .visa-report {
  font-size: 34px;
}

.content_block_three .content-box .sec-title h4 {
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 8px;
  color: red;
}

.content_block_three .content-box .text {
  position: relative;
  display: block;
  margin-bottom: 24px;
}

.content_block_three .content-box .inner {
  position: relative;
  display: block;
  padding-left: 170px;
}

.content_block_three .content-box .inner .progress-box {
  display: flex;
  position: absolute;
  left: 0px;
  top: 8px;
  margin-bottom: 0px;
  width: 100%;
  height: 140px;
}

.content_block_three .content-box .inner .progress-box .progress-area {
  padding: 10px;
}

.content_block_three .content-box .inner .progress-box h4 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.content_block_three .content-box .inner h2 {
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  margin-bottom: 6px;
}

.content_block_three .content-box .inner h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}

.parent-skill {
  width: 200px;
  height: auto;
}

.skill {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress {
  width: 97%;
  height: 97%;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-number {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 2rem;
}

/** VISA SECTION **/

.visa-section {
  width: 100%;
  margin-top: 0px;
  background-color: #FBF6ED;
}

.visa-section .visa-area {
  padding: 20px;
}

.visa-section .visa-title {
  text-align: center;
  padding: 0.25rem 0.75rem;
  width: 100%;
  height: 25px;
  font-size: 20px;
  color: red;
}

.visa-section h3 {
  text-align: center;
  color: black;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 6px;
}

.visa-section h2 {
  text-align: center;
  font-size: 36px;
  line-height: 46px;
  font-weight: 700;
  margin-bottom: 6px;
}

.visa-content {
  max-width: 1024px;
  width: 100%;
  padding: 0 4%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .visa-content {
    padding-top: 300px;
    flex-direction: column;
  }
}

.visa-card {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 250px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}

.visa-card .title {
  width: 100%;
  margin: 0;
  text-align: center;
  color: red;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.visa-card .text {
  width: 80%;
    /* margin: 0 auto; */
    font-size: 14px;
    text-align: justify;
    margin-top: 20px;
    color: black;
    font-weight: 200;
    /* letter-spacing: 2px; */
    opacity: 0;
    max-height: 0;
    transition: all 0.3s ease;
}

.visa-card:hover {
  height: 450px;
}

.visa-card .bg_img {
  width: 100%;
  padding: 20px;
  margin: auto;
}

.visa-card .bg_img img {
  width: 200px;
  border-radius: 10%;
}

.visa-card:hover .text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 200px;
}

/** VISA REPORT PROGRESS BAR **/

.progress-report {
  background-color: #d8d8d8;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 30px;
  width: 300px;
}

.progress-done {
  background: linear-gradient(to left, #F2709C, #FF9472);
  box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
  border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}

/* Choose US */

.choose-service {
  width: 100%;
  height: auto;
  /* padding-left: 5%; */
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.choose-service .choose-area {
  width: 200px;
  margin-left: 5%;
}

.choose-service .choose-area .choose-text {
  text-align: center;
}

.choose-service .choose-area img {
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 650px) {
  .choose-service {
    flex-direction: column;
    padding-left: 0;
  }

  .choose-service .choose-area img {
    width: 80px;
    height: 80px;
  }

  .about-style {
    height: 65em;
  }

  .about-style .auto-container {
    flex-direction: column;
  }
}

.guiding-text {
  font-size: 36px;
  text-align: center;
  padding-bottom: 20px;
}

.curve-icon {
  background: transparent;
  color: #e94d4e;
  border-radius: 6px;
  border: 2px solid #e94d4e;
  font-size: 16px;
  padding: 15px 25px;
  text-decoration: none;
}

.curve-icon i {
  font-size: 14px;
  vertical-align: middle;
  padding-left: 10px;
}

.curve-icon a{
  color: #e94d4e;
}

.curve-icon:hover {
  background: #e94d4e;
  color: #fff;
  border: none;
  /* border: 2px solid black; */
  transition: 1s ease 0.1s;
}

.curve-icon:hover a{
  color: #fff;
}


/*TEST PREPERATIONS*/

.test-overview-area {
  padding-left: 50px;
  padding-top: 50px;
  display: flex;
}

.test-overview-area .test-navbar {
  width: 300px;
  background: #FBF6ED;
  border: 2px solid red;
}

.test-overview-area .test-navbar .nav-bar-list {
  width: 100%;
  text-align: center;
  line-height: 70px;
}

.test-overview-area .test-navbar .nav-bar-item {
  width: 100%;
  border-bottom: 2px solid black;
  color: black;
}

.test-overview-area .test-navbar .nav-bar-item:hover {
  width: 80%;
  background: red;
  transition: 1s ease 0.1s;
}